* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-border-radius: 5px;
    --main-color: #4e0909;
    --main-padding: 10px;
}

body {
    background-color: #dbdbdb;
    font-family: system-ui;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
/* Header styles */
.container header {
    margin: 20px 0;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}
/* Inputs styles */
.container .cruds input {
    width: 100%;
    padding: var(--main-padding);
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: var(--main-border-radius);
    transition: 1s;
}
.container .cruds input:focus {
    transform: scale(1.1);
    background-color: #f0d9d9;
    color: black;
}
.container .cruds .price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container .cruds .price input, span {
    width: 20%;
}
.container .cruds .price span {
    background-color: var(--main-color);
    color: white;
    border-radius: var(--main-border-radius);
    text-align: start;
    padding: var(--main-padding);
}
.container .cruds .price span::before {
    content: 'Total:';
}

/* buttons styles */
button {
    width: 100%;
    padding: var(--main-padding);
    margin: 5px 0;
    background-color: var(--main-color);
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 20px;
    transition: 1s;
}
button:hover {
    background-color: #b12b2b;
    letter-spacing: 1px;
}
#deleteDiv {
    margin: 10px 0;
    width: 100%;
}
#search {
    display: none;
}
/* search buttons */
.outputs .searchBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outputs .searchBtn button{
    width: 40%;
}
/* table */
table {
    width: 100%;
}